---
:machine:
  # https://app.vagrantup.com/bento/boxes/ubuntu-18-04
  :box: bento/ubuntu-18.04 # 64GB HDD
  :memory: 3072 # 3GB RAM
  :cpus: 1
  :hostname: ubuntu-18-04
  :timezone: America/Los_Angeles

:forwarded_ports:
  - :id: ssh
    :host: 2200
    :guest: 22
  - :host: 8000
    :guest: 80
  - :host: 33060
    :guest: 3306

:synced_folder:
  :host: ~/Code
  :guest: /home/vagrant/Code
  :owner: vagrant
  :group: vagrant

:copy_files:
  - :source: ~/.ssh
    :destination: ~/.ssh
  - :source: ~/.gitconfig
    :destination: ~/.gitconfig
  - :source: ~/.subversion
    :destination: ~/.subversion

:php_error_reporting: E_ALL & ~E_NOTICE & ~E_DEPRECATED
...
